/* Change the background color of Filament */
body {
    background-color: #6868c6 !important; /* Dark Blue Theme */
}

/* Customize the sidebar */
.filament-sidebar {
    background-color: #a7b1cd !important;
}

/* Change primary button colors */
.filament-button {
    background-color: #24599a !important;
    border-radius: 8px;
}

/* Customize text color */
.filament-main-content {
    color: #e94560 !important;
}
